p { 
    display : inline;
    /* Akan mengambil space/baris yang sama */
    /* contoh Bold, italic */
}

b {
    display : block;
    /* Akan mengambil space/baris yang berbeda */
    /* Contoh list */
}

* {
    font-family : tahoma;
}

span {
    background-color : rgba(255,200,0,0.5);
    width : 100px;
    height : 100px;
    text-align: center;
    padding : 10px;
    border : 1px solid;
}

/* Inline */
span.inline {
    display:inline;
    /* Akan mengikuti alur teks */
}

/* block */
span.block {
    display:block;
    /* Akan membuat baris baru */
}

/* inline-block */
span.inline-block {
    display:inline-block;
    /* Akan mengikuti alur teks, tetapi bisa memiliki lebar dan tinggi */
}

/* flex */

.flex-container {
    background-color: aqua;
    display:flex;
    flex-wrap : wrap;
    /* flex-warp untuk memungkinkan item flex berpindah ke baris berikutnya jika tidak cukup ruang */
    height:200px;
    padding : 10px;
    justify-content : center;
    
}

.flex-item {
    background-color: azure;
    display:flex;
    width : 100px;
    height : 100px;
    margin : 10px;
}