div.box1{
    height:100px;
    width:300px;
    background-color:#bbbbaa;
}

div.box1 p{
    height:75%;
    width:75%;
    background-color:#0088dd;
}

div.box2 {
    height: 200px;
    width: 500px;
    background-color:aqua;
}

div.box2 h2 {
    width:50%;
    background-color:bisque;
}

div.box2 p {
    width:50%;
    background-color:coral;
}

/* Ukuran maksimum dan minimum dari box */

td {
    background-color: cadetblue;
}

td.deskripsi{
    min-width:400px;
    max-width:500px;
    background-color: orange;
}

/* Overflow */

h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    color:dodgerblue;
}

p.satu {
    height:100px;
    width:200px;
    overflow:hidden;
}

p.dua{
    height:100px;
    width:200px;
    overflow:scroll;
}