* {
    font-family:Arial, Helvetica, sans-serif;
}

.border-1 {
    border:2px groove brown;
    border-bottom-width:4px;
}

#atas-solid {
    border:4px;
    /* border-top-width:4px; sama saja fungsinya */
    border-top-style:solid;
}

#kiri-solid {
    border-color:blueviolet;
    border-left-width:4px;
    border-left-style:solid;
}

#kiri-double {
    border-color:blueviolet;
    border-left-width:4px;
    border-left-style:double;
}

#bawah-dotted {
    border-color:crimson;
    border-bottom-width:4px;
    border-bottom-style:dotted;
}

#kanan-dashed {
    border-color:crimson;
    border-right-width:4px;
    border-right-style:dashed;
}

.border-2 {
    border-color:darkgreen;
    border-width:20px; /*seluruhnya sama*/
    border-style:solid;
}

.border-3 {
    border-color:darkgreen;
    border-width: 20px 5px; /*Atas dan bawah 20px, kiri dan kanan 5px*/
    border-style:solid;
}

.border-4 {
    border-color:darkgreen;
    border-width:5px 10px 15px 20px; /*Atas, Kanan, Bawah, Kiri*/
    border-style:solid;
}
