* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    width : 100px;
    height: 50px;
    text-align: center;
}

.border {
    border:1px solid;
}

.padding-1 {
    background-color: cyan;
    padding: 40px;
}

.padding-2 {
    background-color: burlywood;
    padding: 20px 50px; /* top-bottom left-right */
}

.padding-3 {
    background-color: aquamarine;
    /* atas  kiri-kanan  bawah */
    padding : 5px 20px 50px;
}

.padding-4 {
    background-color: tomato;
    /* atas  kanan  bawah  kiri */
    padding : 5px 10px 20px 50px;
}

/* Padding-Block */

/* Padding Inline */