form {
    justify-content: center;
}

input {
    /* width:400px; */
    font-size:120%;
    background-color:#efefef;
    color:darkslategray;
    border:1px solid #bdbdbd;
    border-radius:5px;
    padding:5px 5px 5px 40px;
    display:block; /* Agar Bertumpuk formnya */
    margin-bottom: 10px;

    background-repeat: no-repeat;
    background-size:20px;
    background-position: 8px;
    justify-content: center;

}

input:focus {
    background-color: #ffffff;
}

input#email {
    background-image:url("images/email.png");
}

input#instagram {
    background-image:url("images/instagram.png");
}

input#web {
    background-image:url("images/web.png");
}

input#submit {
    /* margin: 0px 100px; */
    color:#efefef;
    text-shadow: 1px 0px 5px #ffffff;
    background-color: darkslategray;
    padding:5px 10px 5px 10px;
}

input#submit:hover {
    color : orange;
    background-color: indigo;
    cursor:pointer;
}

input#submit:active {
    color : lawngreen;
    background-color: lightcoral;
}

/* div {
    background-color:tomato;
    width:300px;
    display :flex;
    justify-content:left;
} */